<!-- Second Section -->
<section id="second" class="main special">
  <header class="major">
    <h2>Travel Directory</h2>
    <p>This website is a simple way to keep up with the latest <br>technologies and trends in term of online travel. </p>
  </header>
  <ul class="statistics">
    <li class="style1">
      <%= image_tag("browser.png", alt: "browser", class: "img-landing-directory") %>
      <strong>79</strong> Travel Webs
    </li>
    <li class="style2">
      <%= image_tag("menu.png", alt: "menu", class: "img-landing-directory") %>
      <strong>15</strong> Categories
    </li>
    <li class="style3">
      <%= image_tag("group-white.png", alt: "group-white", class: "img-landing-directory") %>
      <strong>85.5M</strong> Total of visits
    </li>
    <li class="style4">
      <%= image_tag("traffic-light-white.png", alt: "traffic-light-white", class: "img-landing-directory") %>
      <strong>6.8M</strong> Traffic from Spain
    </li>
    <li class="style5">
      <%= image_tag("stopwatch-white.png", alt: "stopwatch-white", class: "img-landing-directory") %>
      <strong>1.7M</strong> Reading Time
    </li>
  </ul>
</section>

<!-- Get Started -->
<section id="cta" class="main special">
  <header class="major">
    <h2>Take Part</h2>
    <p>The selection of the webs is however opened and any travelweb <br>owner can submit his website to the Team's review. </p>
  </header>
  <footer class="major">
    <ul class="actions">
      <li><a href="https://pie2re.typeform.com/to/MoEgos" class="button special">Submit Your Web</a></li>
    </ul>
  </footer>
</section>

</div>