<!-- Header -->
<header id="header" class="alt">
	
	<h1></h1>
	
</header>

<!-- Main -->
<div id="main">

	<!-- Content -->
		<section id="content" class="main">
			<span class="image main"><%= image_tag("pic04.jpg", class: "image-about") %></span>
			<h1 style="color:#1F3A93;">The Story Behind</h1>
			<h3>A Travel entrepreneur initiative</h3>
		</section>

		<section id="content" class="main">
			<h3>What is this?</h3>
			<h5>Traveller Stash is the easiest way to find resources and tools that can help you while planning your next trip. Get inspired and plan awesome trips using the 60 resources and tools that are indexed on this site.</h5>

			<h3 style="padding-top:35px;">Why is this cool?</h3>
			<h5>This website is a simple way to keep up with the latest technologies and trends in term of online travel. Planning a trip takes time and cost money, this directory aims at giving each travellers the right tool at the right moment.</h5>

			<h3 style="padding-top:35px;">Where does it come from?</h3>
			<h5>We are a group of travel hackers & entrepreneurs who have realised that the problem behind trip planning is no longer a lack of tools, but a problem of finding the right ones. Out there, there are tons of incredible resources that can make planning more efficient. We figured we should put in common the knowledge and the hours of testing that we had, and put the results at the service of the public we serve in hour everyday jobs.</h5>

			<h3 style="padding-top:35px;">The inspiration?</h3>
			<h5>We were inspired by Startup Stash, the easiest way to find resources and tools that can help while building a startup. We want to thank Startup Stash’s team for letting us copy their layout during the very first days of existance of this website.
			</h5>

			<h3 style="padding-top:35px;">How are the startups chosen?</h3>
			<h5>We have hand picked the startups included in Traveller Stash, either because we have met their founders in persons or because we came across their product by referral. Everything is tested and benchmarked so if the product is the best at solving a pain for a category of travellers, we add it to the directory.</h5>

			<h3 style="padding-top:35px;">Where does the content from?</h3>
			<h5>Most of the content come from CrunchBase, but some is also extracted from Wikipedia, AngelList and companies’ websites.</h5>

			<h3 style="padding-top:35px;">Is the information updated?</h3>
			<h5>Yes, as travel entrepreneurs, we constantly discover new products and new startups. For that reaons, we are able to maintain this directory up to date with the latest resources available.</h5>
		</section>

		<section style="padding-bottom:0px;" id="cta content" class="main special">
			
			<header class="major">
				<h2>Team</h2>
				
			</header>
			
		</section>

		<section>
					<div class="box alt" style="font-size:16px;">
						<div class="row uniform">
							
							<div style="width:20%;" ><span class="image fit"><%= image_tag("pic01.png") %></span>
									<p style="text-align:center"><span style="font-weight:400;">Pierre Becerril</span> <br>Founder</p>
							</div>
							<div style="width:20%;" ><span class="image fit"><%= image_tag("pic02.png") %></span>
									<p style="text-align:center"><span style="font-weight:400;">Florian Mesny</span> <br>Editor</p></div>
							<div style="width:20%;" ><span class="image fit"><%= image_tag("pic03.png") %></span>
									<p style="text-align:center"><span style="font-weight:400;">Alfonso García-Valdecasas</span> <br>Editor</p></div>
							<div style="width:20%;"><span class="image fit"><%= image_tag("pic05.png") %></span>
									<p style="text-align:center"><span style="font-weight:400;">Katarzyna Miziniak</span> <br> Designer</p></div>
							<div style="width:20%;"><span class="image fit"><%= image_tag("pic07.png") %></span>
									<p style="text-align:center"><span style="font-weight:400;">Damian Martínez</span> <br> Developer</p></div>
						</div>
					</div>
		</section>

</div>