<!-- Header -->
<header id="header">
  
</header>

<!-- Main -->
<div id="main">

  <!-- Content -->
    <section id="content" style="    padding: 3em 5em 10em 5em;" class="main">
      
      <div class="row">
      <div class="6u 12u$(medium)">

        <section style="padding-bottom:40px;" id="content" class="main">
        <% case @category_name %>
          <% when "Flight Hacks" %>
            <%= image_tag("aeroplane.png", alt: "aeroplane", class: "img-landing-aeroplane") %><br />
          <% when "Hotel Booking" %>
            <%= image_tag("hotel.png", alt: "hotel", class: "img-landing-aeroplane") %><br />
          <% when "Multimodal Search" %>
            <%= image_tag("booking.png", alt: "booking", class: "img-landing-aeroplane") %><br />
          <% when "Car Rental" %>
            <%= image_tag("car.png", alt: "car", class: "img-landing-aeroplane") %><br />
          <% when "After Booking" %>
            <%= image_tag("passport.png", alt: "passport", class: "img-landing-aeroplane") %><br />
          <% when "Packages" %>
            <%= image_tag("package.png", alt: "package", class: "img-landing-aeroplane") %><br />
          <% when "Ride Sharing" %>
            <%= image_tag("jeep.png", alt: "jeep", class: "img-landing-aeroplane") %><br />
          <% when "Vacation Rental" %>
            <%= image_tag("room-key.png", alt: "room-key", class: "img-landing-aeroplane") %><br />
          <% when "Backpackers Accommodation" %>
            <%= image_tag("luggage.png", alt: "luggage", class: "img-landing-aeroplane") %><br />
          <% when "Inspiration" %>
            <%= image_tag("parasailing.png", alt: "parasailing", class: "img-landing-aeroplane") %><br />
          <% when "Guides" %>
            <%= image_tag("planet-earth.png", alt: "planet-earth", class: "img-landing-aeroplane") %><br />
          <% when "Business Travel" %>
            <%= image_tag("suitcase.png", alt: "suitcase", class: "img-landing-aeroplane") %><br />
          <% when "Loyalty Programs" %>
            <%= image_tag("stars.png", alt: "stars", class: "img-landing-aeroplane") %><br />
          <% when "Travel Africa" %>
            <%= image_tag("pyramids.png", alt: "pyramids", class: "img-landing-aeroplane") %><br />
          <% when "Planners" %>
            <%= image_tag("map.png", alt: "map", class: "img-landing-aeroplane") %><br />
          <% end %>
        <h4 >Category:</h4>
        <h1 style="color:#1F3A93;"><%= @category_name %></h1>
        
        </section>

        <ul style="font-size:18px; line-height:30px; padding-left: 0; padding-top: 10px;  list-style: none;;">
          <% i = 1 
            @companies_category.each do |company| %>
              <% if company == @company %>
                <li style="list-style-image: url(<%= asset_path 'bullet.png' %>); line-height:20px; padding:20px; margin-bottom:20px; margin-right: 100px; background-color:#fff; border: 1px solid rgba(79, 79, 77, 0.13)"><a href=<%="/#{@category_name_url}/#{company.name_url}" %>><img src=<%= asset_path "logo/#{company.name_url}_logo.png" %> width="200" /><br><span style="font-size:15px;"><b><%= company.name_text %></b> | <b><%= company.country %></b></span></a></li>
              <% else %>
                <li style="line-height:20px; width:80%;  padding-top:5px;"><a href=<%="/#{@category_name_url}/#{company.name_url}" %>><img src=<%= asset_path "logo/#{company.name_url}_logo.png" %> width="200" /><br><span style="font-size:15px;"> <b><%= company.name_text %></b> | <b><%= company.country %></b></span></a></li>
                <hr style=" border: 0;height: 0; width:80%; border-top: 1px solid rgba(0, 0, 0, 0.1);border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
              <% end %>
            <% i += 1
            end %>        
        </ul>
      </div>
      <div class="6u 12u$(medium)">
        <ul class="actions vertical small">
          <img src=<%= asset_path "logo/#{@company.name_url}_logo.png" %> width="200"/>
          <img src=<%= asset_path "screenshot/#{@company.name_url}.png" %> width="490"/>
          <ul class="actions vertical">
          <li><p style="text-decoration:none; font-size:30px;"><%= @company.name_text %></p><p><span style="font-size:16px;   line-height:20px;"> <%= @company.des_short %></span></p></li>
        </ul>
          <li><a href=<%= "#{@company.url}" %> class="button special  small fit">Check It Out</a></li>
          </ul>
        
        <ul  class="actions">
          <li style="margin-bottom:10px;"><a href="#" class="button small">Travel</a></li>
          <li style="margin-bottom:10px;"><a href="#" class="button small"><%= @category_name %></a></li>
          <li style="margin-bottom:10px;"><a href="#" class="button small"><%= @company.name_text %></a></li>
        </ul>


        
      </div>
          
    </section>

</div>